<div class="floatleft">
<table class="table">
	<caption>Payment Type</caption>
	<tbody>
[% FOREACH l IN list %]
		<tr>
			<td><a href="[% s.uofs %]?order_id=[% s.in.order_id %]&payment_method_id=[% l.payment_method_id %]" class="action">[% l.name %]</a></td>
		</tr>
[% END %]
	</tbody>
</table>
</div>
